<template>

  <NavBar/>
  
  <Footer/>
  <router-view/>


</template>

<script>

import NavBar from "./components/Navbar.vue"
import Footer from "./components/footer.vue"




export default {
  components: { NavBar , Footer  },
 
}
</script>

<style scoped>
  @import "./styles.css";
</style>