<template>
<div id="centre">
<div class="first">
  <div class="second">
         <div class="text">
         <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Quia cum quasi earum provident sint ipsam, <br> nulla molestias necessitatibus porro unde modi repellat sequi veniam ipsum possimus, 
          voluptate aliquid deserunt repellendus. 
      </p>        
      </div>
       <button type="button" class="btn btn-outline-primary" style="width:20%;height:13%;font-size:100%;color:white">
            <router-link to="/inscription" class="nav-link px-4 ">Inscription</router-link>
      </button>

    </div>
       
</div>  

        <img   id ="image" src="https://www.imagidee-serveur6.fr/ecole-superieure-formateurs/medias/bandeaux/IMAGE-2.jpg" >

        </div>

        
</template>
<style scoped>
#centre{
          left: 0px;
          right: 0px;
          top: 90px;
          width: 100%;
          position: relative;
          display: block;
        }
        .text{
          color:white;
        }

        #image{
            width: 100%;
           
            

        }
      .second{
        display: block;
        align-content: center;
        text-align: center;
        margin-top: 12%;

      }


      .first{

        position: absolute;
        width: 100%;

         background-color: #006663;
          opacity: 80% ;
          height: 100%;
       
      }
        
</style>
<script>
export default {
    name: 'Accueil'
};
</script>
