<template>
    <div
      style="
        background: url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg);
      "
      class="jumbotron bg-cover text-white"
    >
      <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Moyen de paiements</h1>
        <p class="font-italic mb-0"></p>
        <!--p class="font-italic">
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p-->
        <!--a href="#" role="button" class="btn btn-primary px-5">See All Features</a-->
      </div>
    </div>
    <br>
    <br>
    <br>
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">
  <input class="radio" id="three" name="group" type="radio">
  <input class="radio" id="four" name="group" type="radio">
  <input class="radio" id="five" name="group" type="radio">
  <input class="radio" id="six" name="group" type="radio">
  <input class="radio" id="seven" name="group" type="radio">
  <input class="radio" id="eight" name="group" type="radio">

  <div class="tabs">
  <label class="tab" id="one-tab" for="one">Benin</label>
  <label class="tab" id="two-tab" for="two">Burkina-Faso</label>
  <label class="tab" id="three-tab" for="three">Cote-d'Ivoire</label>
  <label class="tab" id="four-tab" for="four">Mali</label>
  <label class="tab" id="five-tab" for="five">Niger</label>
  <label class="tab" id="six-tab" for="six">Senegal</label>
  <label class="tab" id="seven-tab" for="seven">Togo</label>
  <label class="tab" id="eight-tab" for="eight">Autres regions du monde</label>
    </div>
  <div class="panels">
  <div class="panel" id="one-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/6.png" alt="">
  </div>
  <div class="panel" id="two-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/5.png" alt="">
    <img src="../assets/images/7.png" alt="">
  </div>
  <div class="panel" id="three-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/6.png" alt="">
    <img src="../assets/images/5.png" alt="">
    <img src="../assets/images/7.png" alt="">
  </div>
  <div class="panel" id="four-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/5.png" alt="">
    <img src="../assets/images/7.png" alt="">  
  </div>
  <div class="panel" id="five-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/1.png" alt="">  
  </div>
  <div class="panel" id="six-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/7.png" alt="">  
    <img src="../assets/images/2.png" alt="">  
  </div>
  <div class="panel" id="seven-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/3.png" alt="">  
    <img src="../assets/images/5.png" alt="">  
 </div>
  <div class="panel" id="eight-panel">
    <div class="panel-title"></div>
    <img src="../assets/images/9.png" alt="">
    <img src="../assets/images/8.png" alt="">
    <img src="../assets/images/4.png" alt="">  </div>
  </div>
</div>
<br>
<br>
<br>
</template>
<style>
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  background:#CDDC39;
  font-family: 'Arimo', sans-serif;
}
h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#006663;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:1000px;
  border-radius:3px;
  overflow:hidden;
  padding:80px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel,
#six:checked ~ .panels #six-panel,
#seven:checked ~ .panels #seven-panel,
#eight:checked ~ .panels #eight-panel{
  display:block
}
*
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab,
#six:checked ~ .tabs #six-tab,
#seven:checked ~ .tabs #seven-tab,
#eight:checked ~ .tabs #eight-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}
</style>